{{> header}}
  {{> navbar}}
  
  <!-- Hero -->
  <div class="container my-3 py-3 py-lg-5">
    <div class="card shadow p-3 p-lg-5 rounded-3">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card-body">
            <h2 class="card-title">Hi, Welcome to my hut</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non feugiat sem. Curabitur bibendum ex convallis aliquet scelerisque. Aenean sed consectetur libero. Quisque laoreet lacinia elit, iaculis iaculis odio iaculis dapibus. Donec eget convallis lacus, non interdum justo. Aliquam commodo mi vel bibendum vulputate. Quisque vehicula neque a congue bibendum. Ut vestibulum, turpis at aliquet vehicula, eros lorem vestibulum orci, eget vehicula enim turpis ac libero. Phasellus cursus arcu id mollis commodo.</p>
            <a href="contact" class="btn btn-dark rounded-pill">Contact me</a>
            <a href="#" class="btn btn-outline-light text-black">Download CV <img src="assets/icon/download.svg" alt="" class="align-text-bottom" style="height: 18px;" /></a>
            <div class="d-flex gap-3 mt-4">
              <a href="https://www.linkedin.com/in/bagasariantono/"><img src="assets/icon/linkedin.svg" alt="linkedin" style="height: 30px" /></a>
              <a href="https://www.instagram.com/"><img src="assets/icon/instagram.svg" alt="instagram" style="height: 30px" /></a>
              <a href="https://www.facebook.com/"><img src="assets/icon/facebook.svg" alt="facebook" style="height: 30px" /></a>
              <a href="https://www.x.com/"><img src="assets/icon/twitter.svg" alt="twitter" style="height: 30px" /></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 px-5 py-3">
          <div class="card text-center overflow-hidden shadow">
            <img src="assets/img/picsum.jpg" alt="" class="w-100 mb-3" />
            <h5>Bagas Ariantono</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- My Project -->
  <div class="bg-white py-5">
    <div class="container">
      <h2 class="text-center mb-5">MY PROJECT</h2>
      <div class="row row-cols-1 row-cols-lg-3 g-4">
        {{#each projects}}
        <div class="col">
          <div class="card shadow">
            <a href="/project/detail/{{id}}" class="stretched-link"></a>
            <img src="{{image}}" class="px-3 pt-3" alt="image" />
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-tertiary">Duration - {{dateDiff start_date end_date}}</h6>
              <p class="card-text">{{description}}</p>
              <div class="d-flex gap-2">
                {{#each technologies}}
                <span class="badge text-bg-secondary">{{this}}</span>
                {{/each}}
              </div>
              <div class="d-flex gap-2 mt-4">
                <a href="/project/edit/{{id}}" class="btn btn-dark w-100 rounded-pill z-1">Edit</a>
                <a href="/project/delete/{{id}}" class="btn btn-danger w-100 rounded-pill z-1">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

{{> footer}}
